Flask==3.1.0
flask_sqlalchemy==3.1.1
flask_migrate==4.1.0
flask_wtf==1.2.2
flask_cors==6.0.0
pydantic==2.11.2
injector==0.21.0
openai==1.70.0
pytest==8.3.5
python-dotenv==1.1.0
SQLAlchemy==2.0.40
WTForms==3.2.1
psycopg2==2.9.10
dotenv==0.9.9
langchain==0.3.22
alembic==1.15.2
langchain_community==0.3.20
langchain_core>=0.3.59
langchain_openai==0.3.12
langchain_experimental==0.3.4
langchain_huggingface==0.2.0
langchain_cohere==0.4.4
langgraph==0.4.7
faiss-cpu==1.11.0
langchain_pinecone==0.2.6
langchain_weaviate==0.0.4
pre-commit==4.2.0
aiofiles==24.1.0
unstructured==0.17.2
markdown==3.8
jieba==0.42.1
pandas==2.2.3
umap-learn==^0.5.0
duckduckgo-search==8.0.2
